.project-card__link {
  display: inline-block;
  width: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project__overlay {
    transform: translateY(0px);
  }

  transition: box-shadow var(--animation-timing-function);

  outline: auto;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px 0px;

  @media screen and (min-width: 768px) {
    padding: 49px 24px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px 0;
  }

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation-timing-function);
}

.project__about {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project__undersign {
  width: 100%;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  background-color: var(--header-bgd-color);
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}