.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgd-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__bar {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__bar-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}