.footer-info {
  min-width: 231px;
}
.footer-info__address {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: normal;
}
.footer-info__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
.footer-info__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-bgd-color);
}
.footer-info__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
