.menu-icon__burger {
  opacity: 1;
}

.menu-icon__close {
  opacity: 0;
}

.mob-menu__btn.is-open .menu-icon__burger {
  opacity: 0;
}

.mob-menu__btn.is-open .menu-icon__close {
  opacity: 1;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(100%, 0%);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform var(--animation-timing-function);
}

.mob-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu.is-open {
  transform: translate(0%, 0%);
}

.mob-menu-nav {
  margin-bottom: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-nav--active {
  color: var(--link-selection-solor);
}

.mob-menu-contacts {
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--link-selection-solor);
}

.mob-menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-socials {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu-socials__item {
  display: flex;
  align-items: center;
  height: 22px;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-menu-socials__link {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;

}